doctype html5
html
    head
        title page validator
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/custom.css', rel='stylesheet')
    body
        .container
            block content
        block scripts
            script(src='/js/jquery-3.2.1.min.js')
            script(src='/js/bootstrap.min.js')
