extend _Layout

block content
        div.page-header
            h3 #[span.label.label-default Live page SEO Details]
        //- to render meta description value
        div.row
            if(data[0].description)
                div.cols-sm-12.cols-lg-12.alert.alert-success
                    strong Page meta description: 
                    | Success
            else
                div.cols-sm-12.cols-lg-12.alert.alert-danger
                    strong Page meta description: 
                    | Missing            
        //- to render page meta keywords value
        div.row
            if(data[0].keyword)
                div.cols-sm-12.cols-lg-12.alert.alert-success
                    strong Page meta keywords: 
                    | Success
            else
                div.cols-lg-12.alert.alert-danger
                    strong Page meta keywords: 
                    | Missing    
        //- to render the list of images with no alt text
        if data[0].imageSource.length > 0
            div.row
                div.cols-sm-12.cols-lg-12.alert.alert-info
                    P 
                        strong Image with no alt text:
                        hr
                        ul.imageslist
                            each value in data[0].imageSource
                                li #[a(href=value, target='_blank')=value]